<div class="container mt-2">
  <div class="row justify-content-around">
    <% @graphic_cards.each do |gc| %>
      <div class="card col col-12 mb-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title shop-name"><%= gc.shop %></h5>
          <h5 class="card-title"><%= gc.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Skladem: <%= gc.stock %></h6>
          <p class="card-text">Cena: <%= gc.price %></p>
          <a href="<%= gc.link %>" class="btn btn-outline-primary">Odkaz do obchodu</a>
        </div>
      </div>
    <% end %>
</div>